@import 'bootstrap';
@import 'font-awesome';
@import 'bootstrap-datetimepicker';
@import "compass";

.btn + .btn {
  margin-left: floor($font-size-base / 2);
}

.image-gallery {
  .image-main {
    margin-bottom: $padding-base-vertical;
    a {
      cursor: zoom-in;
    }
    a:hover {
      img {
        @include box-shadow($brand-primary 0 0 5px);
      }
    }
  }
  .nav {
    margin-bottom: $padding-base-vertical;
    .active {
      img {
        @include box-shadow($brand-primary 0 0 5px);
      }
    }
    li {
      float: left;
      &+li {
        margin-left: 10px;
      }
      a {
        padding: 0;
      }
    }
  }
}

.img-tiny {
  width: 100px;
  height: 100px;
}

.thumb-placeholder {
  width: 100px;
  height: 100px;
}
